.button {
    border: none;
    border-radius: 15%;
    padding: 5px 10px;
    margin-bottom:10px;
    margin-top:10px;
    margin-left: 10px;
    font-weight: 600;
}

.button:hover,
.button:focus {
    background-color: rgb(216, 216, 216)
}

.button:active {
    box-shadow: 0 8px 43px rgba(122, 121, 121, 0.2);
    ;
}
.movieCard {
    display: flex;
    margin-left: 10px;
    
}

.description{
    margin-left: 20px;
    margin-right: 20px;
}

.title{
    margin-bottom: 5px;
    margin-top:10px;
}
.paragraph{
    margin-bottom: 20px;
}

.inactive{color:var(--primary-text-color)}

.active {
       color:var(--secondary-accent-color)}

  