.navBar {
   
    font-weight: 600;
    font-size: 18px
}

.inactive{
    
    margin-left: 10px;


}

.active{
    color: red;
}

hr {
    color: #4c4b4b;
    background-color: #4c4b4b;
    border: 0px none;
    height: 1px
}