.searchForm {
    margin-left: 20px;
    margin-top:10px;
  
}

.input {
    /* border: 1px solid grey; */
border:none;
outline:none;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: var(--primary-accent-color);
}



.button {
    border: none;
    border-radius: 15%;
    padding: 5px 10px;
    font-weight: 600;
    background-color: var(--primary-accent-color);
}

.button:hover,
.button:focus {
    background-color: var(--secondary-accent-color)

}

.button:active {
    box-shadow: 0 8px 43px rgba(122, 121, 121, 0.2);
    ;
}